:root{
    --maincolor: #000000;
}
*{
margin: 0; 
padding: 0;
box-sizing: border-box;
transition: .2s;
outline: none;
text-transform:capitalize;
text-decoration: none;
}

html {

scroll-behavior: smooth;
}
.header{
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1px ;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
z-index: 1;
}
.search{
    height: 40px;
    width: 300px;
    border-radius: 50px;
    outline: none;
    border: 2px solid black;
    margin-left: 150px;
    margin-right:-100px;
}
.btn1{
    height: 40px;
    width: 60%;
    outline: none;
    border: none;
    background: black;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    margin-right: -30%;
    margin-left: -10px
}
section{
    margin-top: 150px;
}
﻿#c{
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.header #logo{
color: black;
}
.navbar a{
          color: black;
          font-size: 30px;
          margin-left: 20px;
          margin-right: 0px;
          text-decoration: none;
}

.navbar a:hover{
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem;
    text-decoration: none;
}
.icons div{
    font-size: 30px;
    margin-right: 30px;
    color: black;
    cursor: pointer;
}
.icons div:hover{
    background-color: var(white);
    color: green;
    border-radius: 10px;
    padding: 10px 10px;
}


i {
    width: 100px;
    color: black;
}
#logo {
    margin-left: 40px;
    margin-top: 0px;
    margin-right: 0px;

}
.bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 900px;
    width: 100px;
}
#bg{
    width: 1473px;
    height:650px;
    margin-top: 100px;
}

.hello{
    position: absolute;
top: 45%;
left: 60%;
right: 20%;
transform: translate(-20%,-20%);
padding: 10px 20px;
font-size: 50px;
text-align: left;
font-family: serif;
}
.lorem{
font-size: small;
margin-top: -20%;
text-transform: none;
}
.hii{
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size:50px;

}
.offer{
    background-color: black;
color: white;
position: absolute;
top: 25%;
left: 83%;
transform: translate(-20%,-20%);
padding: 10px 20px;
font-size: 50px;
text-align: center;
font-family: serif;
line-height: 1.5;
bottom: 50%;
}
.ok{
    background-color: black;
position: absolute;
top: 100%;
left: 20%;
right: -20%;
transform: translate(-20%,-20%);
color: white;
padding: 10px 20px;
font-size: medium;
text-align: center;
}
h4{
    color: yellow;
}
h5{
    color: yellow
}
h3{
    color: yellow;
}
#denim{
    width: 400px;
    height: 400px;
}
#shirt{
   width: 400px;
   height: 400px;
}
#shoes{
   width: 400px;
   height: 400px;
}
#dress{
   width: 400px;
   height: 400px;
}
#glasses{
   width: 400px;
   height: 400px;

}
#bag{
    width: 400px;
    height: 400px;
}
.blue{
    background-color: aqua;
}
#people{
    width: 300px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 100px;
}
.hey{
    position: absolute;
    top: 270%;
    left: 50%;
    right: -10%;
    transform: translate(-20%,-20%);
    padding: 10px 20px;
    font-size: 50px;
    text-align: left;
    font-family: serif;
    margin-top: -50px;
}
.lorem1{
    position: absolute;
    font-size: medium;
    margin-top: 20px;
    left: 3%;
    right: 20%;}

#button{
        font-size: x-large;
        background-color: white;
        width: 170px;
        height: 40px;
        border-radius: 20px;
        size: 100px ;
        margin-bottom: 100px;

    }
    button{
        font-size: x-large;
        background-color: white;
        width: 170px;
        height: 40px;
        border-radius: 20px;
        size: 100px ;
        margin-bottom: 100px;

    }
    #men{
        width: 300px;
        height: 400px;
        margin-top: 100px;
        align-items: left;
    }
    #women{
        width: 300px;
        height: 400px;
        margin-top: 100px;
        align-items: center;
    }
    #kids{
        width: 300px;
        height: 400px;
        margin-top: 100px;
             
    }
    .omg{
        background-color: rgb(0, 0, 0);
        margin-bottom: 10px;
    }

#shop{
    margin-top: 20px;
    margin-left: 0px;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 20px;
    margin-bottom: 50px;
    align-items: center;
    font-family: sans-serif;
}
#shop1{
    margin-top: 20px;
    margin-left: 0px;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 20px;
    align-items: center;
    font-family: sans-serif;
}
#shop2{
    margin-top: 20px;
    margin-left: 0px;
    background-color: black;
    color: white;
    font-size: large;
    align-items: center;
    font-family: sans-serif;
    border-radius: 20px;
}
.hiii{
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size:50px;
}
.card-img1{
    width: 400px;
    height: 450px;
    align-items: left;
    /*border-style: solid;
    border-color: black;*/
}
.card1{
    width: 400px;
    align-items: left;
    margin-left: 50px;
    margin-bottom: 100px;
}
.btn{
    font-size: x-large;
        background-color: black;
        width: 170px;
        height: 40px;
        border-radius: 10px;
        color: aliceblue;
        margin-bottom: 10px;
        margin-top: 10px;
}

.card-img2{
    width: 400px;
    height: 450px;
    margin-top: 100px;
    align-items: left;
    /*border-style: solid;
    border-color: black;*/
}
.card2{
    width: 400px;
    margin-left: 150px;
    margin-top: -100px;
    align-items: left;
   margin-bottom: 100px;
    
}
.card-body2{
    margin-top: -8px;
    margin-bottom: -100px;
    margin-right: -112px;
    text-align: left;
    /*border-style: solid;*/
    border-color: black;
}
.card-title2{
    color: black;
    font-size: x-large;
    font-family: arial;
    margin-top: 10px;
}
.card-text2{
    line-height: 1.5;
}
.scroll-container {
    overflow-x: auto; /* enable horizontal scrolling */
    overflow-y: hidden; /* disable vertical scrolling */
    white-space: nowrap;
    border: 1px solid #ccc;
  }
  #red{
    color: red;
  }
  .scroll-content {
    display: flex; /* make the content inline */
    width: 100%; 
    flex-wrap: nowrap;
    padding:10px;
}
#h2{
    margin-left: 150px;
    margin-top: 200px;
    font-family: arial;
    margin-right: 100px;
}  
.footer{
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}
._2l3nc-{
    color: black;
    text-decoration: none;
}
.a{
    color: white;
}
.HlWMPX2{
    text-decoration: none;
    color: black;
}
.HlWMPX{
    text-decoration: none;
    color: white;
}
.strike{
    text-decoration: line-through;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    padding: 0px;
    color: white;
    font-family: arial;
    line-height: 1.5;
    bottom: 100px;
 }
  .grid-item {
    background-color: rgba(38, 38, 38, 0.8);
    padding: 30px 60px;
    font-size: small;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  ._3I5N7v{
    color: #a9a9a9;
  }
  ._1oQ-r6{
    color: white;
  }
    .h{
    color: white;
    background-color: rgba(79, 79, 79, 0.8);
  }
  .card3{
    width: 200px;
    align-items: left;
    margin-bottom: 100px;
    margin-top: 150px;
}
.card4{
    width: 200px;
    align-items: left;
    margin-bottom: 100px;
    margin-top: 10px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    color: black;
    font-family: arial;
    
 }
  .grid-item2 {
    padding: 30px 60px;
    font-size: small;
    text-decoration: none;
    color: black;
    text-align: center;
  }
.Contact{
    margin-top: 150px;
}
.by{
    margin-bottom: 100px;
}
.cart{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 20px;
  }
  .grid-item3 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 20px;
  }
  .grid-item4 {
    background-color: rgb(185, 182, 182);
    border: 1px solid rgb(158, 158, 158);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }







@media (max-width:768) {
    html{
        font-size: 50%;
    }
    #menu-bar{
        display: inline-block;
    }
    .header{
       padding: 2rem;
    } 
    .navbar{
        position: absolute;
        top: 100%;
        width: 50rem;
        background: var(--maincolor);
    }
    .navbar a{
        display: block;
        color: white;
        background-color: black;
        margin: 3rem;
        padding: 1.5rem;
        border-radius: 15px;
        width: 45rem;
    }
}
/* footer*/
.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #000000;
}
.btn_get:hover {
    color: #fff;
    background: #ffffff;
    border-color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #000000;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #252525;
    border-color: #000000;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #000000;
}

.new_footer_top .f_social_icon a:hover {
    background: #000000;
    border-color: #000000;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}